<div class="catbloc-collection">
     <div class="catbloc">          
            <ul class="sidebar-post">

                  <h4>
                    <i class="fa fa-cog"></i>
                    Misc
                  </h4>
                  <li>
                        <a href="{{ site.contentsref }}Contents">
                         Contents
                        </a>
                  </li> 

                  <h4>
                    <i class="fa fa-folder"></i>
                  Resources
                  </h4>                             
                   <li>
                        <a href="{{ site.contentsref }}Books">
                         Books
                        </a>                     
                  </li>

               </ul>
            </div>
</div>