<div class="catbloc-collection">
     <div class="catbloc">          
            <ul class="sidebar-post">


                  <p class="icon-clipboard">
                    Misc
                  </p>
                  <li>
                        <a href="{{ site.contentsref }}Contents">
                         Contents
                        </a>
                  </li> 

                  <p class="icon-graph">
                  Resources
                  </p>                             
                   <li>
                        <a href="{{ site.contentsref }}Books">
                         Books
                        </a>                     
                  </li>



               </ul>
            </div>
</div>